/***********************************  VARIABLER  ***********************************/

html {
  --font_display: "Grandstander", sans-serif;
  --font_body: "Lato", sans-serif;

  --gap_s: 1rem;
  --gap_m: 2rem;
  --gap_l: 4rem;

  --radius: 15px;
  --radius_button: 30px;

  --black: #1b1b1b;
  --white: #ffffff;
  --green_1: #e9f1df;
  --green_2: #b8d593;
  --green_3: #688840;
  --green_4: #254900;
}

.img_hero {
  width: 100%;
  height: 150px;
  object-fit: cover; /* Beskær billedet til at passe uden at strække det */
  object-position: center; /* Juster beskæringspositionen efter behov */
}

.foraging_grid {
  margin: var(--gap_m) 10%;
}

/*************** grøn felt ******************/

.green {
  background-color: var(--green_1);
  padding: var(--gap_l) 10%;

  display: flex;
  flex-direction: column;
  gap: var(--gap_m);
}

.green_flex {
  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
}

.green_tekstbox {
  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
  padding: var(--gap_m);
  background-color: var(--green_3);
  border-radius: var(--radius);
}

.green_tekstbox h3,
.green_tekstbox p {
  color: var(--white);
}

/***************** grøn cirkel ********************/

.foraging_green_cirkle {
  margin: var(--gap_m) 10%;
}

.container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.green-circle {
  width: 35px;
  height: 35px;
  background-color: #688840;
  border-radius: 50%;
  margin-right: 15px; /* Juster dette efter behov for afstand mellem cirkel og tekst */
  flex-shrink: 0;
}

.content h3 {
  padding-bottom: 20px;
}

/*************** slider ********************/
:root {
  --transparent-grey: rgba(0, 0, 0, 0.5);
}

/* Width of carousel */
#window,
#slide-container {
  width: 100%;
}

/* Height of carousel */
#slide-container {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
}

.slide {
  width: 100%;
  border-radius: 0px;
}

/* Style of arrows */
.arrow {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 16px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.arrow:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

#next {
  left: 100%;
  transform: translate(-100%, -50%);
  border-radius: 4px 0px 0px 4px;
}

#previous {
  border-radius: 0px 4px 4px 0px;
}

#dotsContainer {
  width: 100%;
  height: 20px;
  text-align: center;
}

.dots {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  display: inline-block;
  margin: 8px 2px;
}

/*.dots:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}*/

.activeDot {
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay_slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 170px;
  border-radius: 10px;
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
  padding: var(--gap_m);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: var(--radius);
}

@media (min-width: 800px) {
  .img_hero {
    height: 300px;
  }

  .foraging_grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Del containeren i to kolonner med samme bredde */
    gap: 20px; /* Justér afstanden mellem artikel og billede efter behov */
  }

  .foraging_img {
    order: -1;
  }

  /******** The signature of the Deciduous forest **********/

  .green {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .green_flex {
    position: relative;
    flex-direction: row;
  }

  /* .green_tekstbox {
    position: absolute;
  } */

  .green_h2 {
    grid-column: 1 / span 2;
  }

  .box_1 {
    grid-column: 4 / span 2;
    grid-row: 1 / span 1;
  }

  .txt_box_1 {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    width: 100%;
  }

  .box_2 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
  .txt_box_2 {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    width: 100%;
  }

  .box_3 {
    grid-column: 5 / span 2;
    grid-row: 3 / span 1;
  }
  .txt_box_3 {
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 50%;
    width: 100%;
  }

  /***************** grøn cirkel ********************/

  .foraging_green_cirkle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }

  /*************** slider ********************/
  .overlay_slider {
    width: 450px;
    height: 250px;
  }

  .text-box {
    padding: 30px;
  }

  .text-box h2 {
    padding-bottom: 20px;
  }

  .text-box p {
    padding-bottom: 50px;
  }
}
