/***********************************  VARIABLER  ***********************************/

html {
  --font_display: "Grandstander", sans-serif;
  --font_body: "Lato", sans-serif;

  --gap_s: 1rem;
  --gap_m: 2rem;
  --gap_l: 4rem;

  --radius: 15px;
  --radius_button: 30px;

  --black: #1b1b1b;
  --white: #ffffff;
  --green_1: #e9f1df;
  --green_2: #b8d593;
  --green_3: #688840;
  --green_4: #254900;
}

/***********************************  RESET + BASE ***********************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

article {
  margin: var(--gap_m) 10%;
}

/***********************************  TEXT  ***********************************/
h1 {
  font-family: var(--font_display);
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
}

h2 {
  font-family: var(--font_body);
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--black);
}

h3 {
  font-family: var(--font_body);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--black);
}

h4 {
  font-family: var(--font_body);
  font-size: 1.15rem;
  font-weight: 400;
  color: var(--black);
}

p {
  font-family: var(--font_body);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--black);
  max-width: 65ch;
}

/***********************************  IMAGES  ***********************************/
img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--radius);
}

.img_hero {
  border-radius: 0;
}

/***********************************  LINKS + BUTTONS  ***********************************/
/* LINKS */
a {
  font-family: var(--font_body);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--white);
}

a:visited {
  color: var(--white);
}

a:hover {
  color: var(--green_1);
}

.button {
  background-color: var(--green_3);
  border-radius: var(--radius_button);
  padding: 1rem 2rem;
  margin: 1rem 0;
  width: fit-content;
}

/***********************************  ELEMENTER  ***********************************/
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  position: absolute;
  z-index: 1;
}

/***********************************  HEADER  ***********************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;

  background-color: var(--green_4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 1rem;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 1rem;
  color: var(--green_1);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: var(--white);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--white);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--green_4);
    opacity: 80%;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/***********************************  FOOTER  ***********************************/
footer {
  background-color: var(--green_4);
  padding: var(--gap_m) 10%;
  display: flex;
  flex-direction: column;
  gap: var(--gap_m);
}

footer p {
  color: var(--white);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--gap_m);
}

.footer_col {
  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
  align-items: start;
}

.footer_logo {
  height: 50px;
  width: auto;
  border-radius: 0px;
}

.social_flex {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.social_icon_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.icon_social,
.mad_logo {
  width: 50px;
}

.small {
  color: var(--green_2);
  font-size: 0.75rem;
}

/***********************************  FLEX  ***********************************/
.flex_col {
  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
}

/******************************************************************************************************************************/
/**********************************************************  DESKTOP  *********************************************************/
@media (min-width: 800px) {
  /* TEXT */
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap_m);
    width: 100%;
  }

  .so;
}
