/***********************************  VARIABLER  ***********************************/

html {
  --font_display: "Grandstander", sans-serif;
  --font_body: "Lato", sans-serif;

  --gap_s: 1rem;
  --gap_m: 2rem;
  --gap_l: 4rem;

  --radius: 15px;
  --radius_button: 30px;

  --black: #1b1b1b;
  --white: #ffffff;
  --green_1: #e9f1df;
  --green_2: #b8d593;
  --green_3: #688840;
  --green_4: #254900;
}

.img_hero {
  filter: brightness(70%);
}

/*************** FORAGE *******************/
.foraging {
  display: flex;
  flex-direction: column;
  gap: var(--gap_m);
}

.img_forage_mini {
  max-width: 450px;
}

/********* DISCOVER / INGREDIENTS *********/
.discover {
  background-color: var(--green_1);
  padding: var(--gap_l) 10%;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: var(--gap_s);
}

.ingredient_article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap_s);
  margin: var(--gap_m) 0 0;
}

.ingredient_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/******************* MAP ******************/
.map {
  position: relative;
}

.img_map {
  border-radius: 0;
}

.map_boks {
  background-color: rgba(255, 255, 255, 0.824);
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  width: 82%;
  max-width: 500px;
  padding: var(--gap_m);
  margin: var(--gap_m);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
}

/***************** QUIZ *******************/
.quiz {
  display: flex;
  flex-direction: column;
  gap: var(--gap_m);
}

.question {
  background-color: var(--green_1);
  padding: 4rem 4rem 2rem 4rem;
  border-radius: var(--radius);
  display: flex;
  align-content: center;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 8px;
  font-family: var(--font_body);
  padding-left: 20px;
  padding-top: 8px;
}

input[type="checkbox"] {
  margin-right: 5px;
  font-family: var(--font_body);
}

.b_center {
  align-self: center;
}

@media screen and (min-width: 800px) {
  .order {
    order: -1;
  }

  .flex_col {
    justify-content: center;
  }
  /**************** FORAGE ****************/
  .foraging {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap_l);
    margin: var(--gap_l) 15%;
  }

  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /******** DISCOVER / INGREDIENTS *********/
  .discover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap_l);
    padding: var(--gap_l) 15%;
  }

  /******************* MAP ******************/
  .map {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--gap_m);
  }
  .map_boks {
    background-color: rgba(255, 255, 255, 0.824);
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 55%;
    padding: 3rem;
    margin: var(--gap_m);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: var(--gap_m);
  }

  /***************** QUIZ *******************/
  .quiz {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap_l);
    margin: var(--gap_l) 15%;
  }
}
