.h1_map {
  color: var(--black);
  text-align: center;
  padding-top: 25px;
  padding-bottom: 35px;
}

main {
  font-family: var(--font_body);
  margin: 0;
  padding: 0;
  margin: var(--gap_m) 10%;
}

.search-container {
  display: flex;
  padding-bottom: 15px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
}

button {
  padding: 8px 12px;
  background-color: var(--green_3);
  color: #fff;
  border: 1px solid var(--green_3);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.img_map {
  width: 100%;
  height: auto;
}

/************* tekstbox ****************/

.map {
  display: grid;
  gap: 20px; /* Tilføjet mellemrum mellem kolonner */
}

.overlay {
  /*position: absolute;
  width: 250px;
  height: 150px;*/
  background-color: var(--green_1);
  border-radius: 10px;
}

.green_tekstbox {
  padding: 30px;
}

.green_tekstbox h2 {
  padding-bottom: 20px;
}

.center-container {
  display: flex;
  justify-content: center;
}

/***************** grøn cirkel ********************/

.foraging_green_cirkle {
  padding-top: 10px;
  padding-bottom: 20px;
}

.container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.green-circle {
  width: 35px;
  height: 35px;
  background-color: var(--green_4);
  border-radius: 50%;
  margin-right: 15px; /* Juster dette efter behov for afstand mellem cirkel og tekst */
  flex-shrink: 0;
}

@media (min-width: 800px) {
  .h1_map {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .map {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Tilføjet mellemrum mellem kolonner */
  }

  .img_map {
    grid-column: span 2; /* Billedet fylder 2/3 af rækken */
  }

  .box {
    grid-column: span 1; /* H2 fylder resterende 1/3 af rækken */
  }
}
