main {
  font-family: var(--font_body);
  margin: 0;
  padding: 0;
  padding-left: 10%;
  padding-top: 10%;
  align-items: center;
  height: 100vh;
}

.search-container {
  display: flex;
  padding-bottom: 15px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.img_map {
  max-width: 1000px;
  height: auto;
}
